<title>Illegal Insurrectionary Thoughts | aka bougie nightmares</title>

<h1>Illegal Insurrectionary Thoughts</h1>
<h2>aka bougie nightmares</h2>

<p>Nice try, FBI</p>


<%= link_to 'Home', root_path %>
