<title>Illegal Insurrectionary Thoughts | aka bougie nightmares</title>

<h1>Illegal Insurrectionary Thoughts</h1>
<h2>aka bougie nightmares</h2>

<p>For one moment we choose complete anonymity, without claiming responsibility,</p>
  <p>because the fire or the stones have already spoken and intervened for</p>
  <p>themselves in the immediate conflict. In another, we choose to communicate</p>
  <p>with other cells in order to evolve through discussion and to communicate</p>
  <p>our connection via permanent attack with other hateful ones. And the next</p>
  <p>moment we move visibly, trying to communicate our ideas and experiences and</p>
  <p>to intervene in local, open conflicts. The anarchist Nero, who was captured</p>
  <p>in Berlin, also wrote about living this contradiction.</p>


<%= link_to 'About', about_path %>
