<title>Illegal Insurrectionary Thoughts | aka bougie nightmares</title>

<div class="center jumbotron">
  <h1>Illegalist Insurrection</h1>
  <%= link_to "Revolt", articles_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
