<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://theconjurehouse.com/">Illegal Insurrectionists for fun and profit</a>
      by <a href="https://twitter.com/Ole_Bonsey">Swamp Wizard</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
