<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <%= link_to "Alpha blog", root_path, class: "navbar-brand", id: "logo" %>
  <ul class="navbar-nav mr-auto">
    <li><%= link_to "Articles", articles_path, class: "nav-item", id: "article" %></li>
    <li><%= link_to "About", about_path, class: "nav-item", id: "about" %></li>
  </ul>
  <form class="form-inline my-2 my-lg-0" id="search_form">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
